.message-label{
    margin-top:50px;
    color: #26292b;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    font-family: fantasy;
}
.mat-list-item{
    margin-top:50px;
    color: #26292b;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    font-family: fantasy;
}

.mat-form-field {
    width: 50%;
}
