<div>
    <ul>
      <li><img src="assets/images/logo.png"></li>
      <li><a (click)="goToIntro();">Home</a></li>
      <li><a class="active" (click)="goToApp();">App</a></li>
      <li><a (click)="goToAbout();">About</a></li>
    </ul>
  </div>
  
  <div>
    <img src="assets/images/background.png" alt="background">
  </div>
  
  
  <div class="main">
    <div class="generate">
      <div class="section-title">
        <p>Try AIWitness - Step 2: Provide Labels</p>
      </div>
      <p>Select the labels that fits your target.</p>

<mat-list role="list">
    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>What is the color of the person's hair?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
                <mat-option *ngFor="let option of hair_options" [value]="option" >
                    {{option}}
                  </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Is this person's hair wavy or straight?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="straight">straight hair</mat-option>
              <mat-option value="wavy">wavy hair</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has big lips?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="lipsy">Yes</mat-option>
              <mat-option value="lipsn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has big nose?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)"> 
              <mat-option value="nosey">Yes</mat-option>
              <mat-option value="nosen">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has double chin?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="chiny">Yes</mat-option>
              <mat-option value="chinn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has eye glasses?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="glassesy">Yes</mat-option>
              <mat-option value="glassesn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Is the person a male?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="female">No</mat-option>
              <mat-option value="male">Yes</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has beard?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="beardy">Yes</mat-option>
              <mat-option value="beardn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has pale skin?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="skiny">Yes</mat-option>
              <mat-option value="skinn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>Does the person has receding hairline?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="recey">Yes</mat-option>
              <mat-option value="recn">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

    <mat-list-item role="listitem">
        <mat-form-field appearance="fill">
            <mat-label>How old is the person?</mat-label>
            <mat-select [(value)]="default" (selectionChange)="selectChange($event.value)">
              <mat-option value="young">young</mat-option>
              <mat-option value="old">old</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list-item>

</mat-list>

<button type="button" class="previousbutton" (click)="btnClick();"><i class="fa fa-plus"></i> Previous</button>  

<button type="button" class="submitbutton" (click)="btnSubmit();"><i class="fa fa-plus"></i>Submit</button>  

</div>
</div>

<div class="footer">
    <div class="container">
      <p  class="footertitle">AIWitness</p>
      <div class="center">
        <button class="footerbutton" (click)="goToAbout();">LEARN MORE ABOUT US</button>
      </div>
    </div>
  </div>
