<div>
    <ul>
      <li><img src="assets/images/logo.png"></li>
      <li><a (click)="goToIntro();">Home</a></li>
      <li><a (click)="goToApp();">App</a></li>
      <li><a class="active" (click)="goToAbout();">About</a></li>
    </ul>
  </div>
  
  <div>
    <img src="assets/images/background.png" alt="background">
  </div>
  
  
  <div class="main">
    <div class="section-title">
        <p>About Us</p>
    </div>   
    <p>We are a team of undergraduate students from the University of Waterloo. This is our FYDP project. </p>
    <p>To contact us:</p>
    <p>Yingchang Zuo: y22zuo@uwaterloo.ca</p>
    <p>Xiaoyuan Lin: x89lin@uwaterloo.ca</p>
    <p>Yaqi Liu: y978liu@uwaterloo.ca</p>
    <p>Hejia Wang: h536wang@uwaterloo.ca</p>
  </div>
  
  <div class="footer">
    <div class="container">
      <p  class="footertitle">AIWitness</p>
      <div class="center">
        <button class="footerbutton" (click)="goToAbout();">LEARN MORE ABOUT US</button>
      </div>
    </div>
  </div>