<div class="message-des">
    <p>Creates an image from scratch from a text description.</p>
</div>
<!-- <input (keyup)="onKeyUp($event)" /> -->



<div class="form-group row">
    <div class="col-sm-10">
      <mat-form-field style="width:100%;">
        <textarea matInput style="font-size: 18px;" (keyup)="onKeyUp($event)"></textarea>
      </mat-form-field>
    </div>
</div>

<!-- <section>
    <div class="example-button-row">
        <button mat-raised-button>Save!</button>
    </div>
</section> -->

<button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Next</button>   
