<div>
  <ul>
    <li><img src="assets/images/logo.png"></li>
    <li><a (click)="goToIntro();">Home</a></li>
    <li><a class="active" (click)="goToApp();">App</a></li>
    <li><a (click)="goToAbout();">About</a></li>
  </ul>
</div>

<div>
  <img src="assets/images/background.png" alt="background">
</div>


<div class="main">
  <div class="generate">
    <p>Try AIWitness - Step 1: Provide Description</p>
    <!-- <input (keyup)="onKeyUp($event)" /> -->
    <textarea placeholder="Here enter a text description of the candidate's physical appearance." (keyup)="onKeyUp($event)"></textarea>
    <button type="button" class="submitbutton" (click)="btnClick();">Submit</button>   
  </div>
</div>

<!-- <section>
    <div class="example-button-row">
        <button mat-raised-button>Save!</button>
    </div>
</section> -->

<div class="footer">
  <div class="container">
    <p  class="footertitle">AIWitness</p>
    <div class="center">
      <button class="footerbutton" (click)="goToAbout();">LEARN MORE ABOUT US</button>
    </div>
  </div>
</div>